<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказов</title>
</head>
<body>
<table border="1" cellpadding="9">
    <tr>
        <td><b>Что купить</b></td>
        <td><b>Кому</b></td>
        <td><b>Оплачено BYN</b></td>
        <td><b>Оплачено BYR</b></td>
        <td><b>Комментарий</b></td>
    </tr>
    {% for i in data %}
        <tr>
        <td>{{ i.meal }}</td>
        <td>{{ i.person }}</td>

        {% if i.byn == None %}
        <td></td>
        {% else %}
        <td>{{ i.byn }}</td>
        {% endif %}

        {% if i.byr == None %}
        <td></td>
        {% else %}
        <td>{{ i.byr }}</td>
        {% endif %}

        <td>{{ i.comment }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<table cellpadding="9">
    <tr>
        <td><b>Всего BYN</b></td>
        <td>{{ result_byn }}</td>
    </tr>
    <tr>
        <td><b>Всего BYR</b></td>
        <td>{{ result_byr }}</td>
    </tr>
    <tr>
        <td><b>Итого (BYR)</b></td>
        <td>{{ result }}</td>
    </tr>
</table>
<br>
<br>
<br>
<p><a href="{% url 'go_main' %}">вернуться на главную</a> </p>
<p>Панель редактирования</p>
<a href="/delete/">удалить заказ</a> &nbsp;&nbsp;&nbsp;<a href="/change/">изменить заказ</a>
</body>
</html>